.promotion-ftxb {
  padding-top: 120px;

  &__title,
  &__slogan {
    @include container;

    @include section-title;

    margin: 0 auto 38px;

    // font-weight: 100;
    // font-size: 38px;
    // line-height: 44px;
    // color: #000;
    // text-align: center;
  }

  &__slogan {
    margin-bottom: 95px;
  }
}

@include tablet {
  .promotion-ftxb {
    padding-top: 0;

    &__title,
    &__slogan {
      padding: 0 40px;
    }

    &__slogan {
      margin-bottom: 60px;
    }
  }
}

@include mobile {
  .promotion-ftxb {
    &__title,
    &__slogan {
      padding: 0 5%;
    }
  }
}
